.DisplayScore {
  width: auto;
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  margin: 5px;
  border: 7px groove thistle;
  border-radius: 30%;
  padding: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.visible {
  animation: fadeIn 0.5s ease-in forwards;
}

.notVisible {
  animation: fadeOut 0.5s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
